---
 const personalImageAlt = "Andrew Pold Jacobo Castillo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Andrew Jacobo pero mis amigos me llaman Pow. Empecé en la
      programación cuando inicié mi carrera univerisitaria, tenía 16 años. Actualmente estoy <strong
        >desarrollando de manera freelance para empresas de la ciudad de Arequipa</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >diseñar e implementar un sistema de producción para una empresa agroidustrial muy reconocida en mi ciudad natal</strong
      >. Además, he participado y ganado una hackaton donde se buscaba una solución tecnológica disruptiva para la compañia telefónica Entel.
    </p>

    <p>
      Como apasionado por la programación, me gusta ser partícipe de proyectos de software empresariales que buscan a través de mi trabajo optimizar sus procesos. 
        Tambien me encanta darle una solución tecnológica a cada idea que escucho en el día a día y me gusta pensar que <strong>"si puedo imaginarlo, puedo crearlo"</strong>
    </p>
  </div>

  <img width="200" height="600" src="/portafolio/me.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
</article>