---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Junio 2024 - Actualidad",
    title: "Desarrollador Fullstack",
    company: "Microdata S.R.L.",
    description: [
      "- Desarrollo e integración de ERP personalizado para empresa de mantenimiento industrial y minero. Optimización en un 15% proceso de orden de trabajo.",
      "- Desarrollo e integración de sistema de certificación de cisternas. Automatización en el proceso de cotización y generación de certificados.",
    ],
  },
  {
    date: "Enero 2023 - Junio 2024",
    title: "Encargado de programación",
    company: "Emaran S.A.C.",
    description: [
      "Diseño y desarrollo de software para las distintas áreas de la empresa. Mantenimiento y configuración de sistemas informáticos existentes o de código abierto. Optimización en un 20% el proceso logístico y productivo. Implantación de cultura de desarrollo de software de calidad.",
    ],
  },
  {
    date: "Mayo 2023 - Diciembre 2023 (Por ocasión)",
    title: "Lider de proyecto",
    company: "Portillo Construcciones S.A.C.",
    description: [
      "Especificación, diseño y desarrollo de CRM inmobiliario personalizado. Optimización en un 30% el proceso de gestión de oportunidades. Mejora en un 20% la toma de decisiones y dirección de campañas de marketing.",
    ],
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
